################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build output
**/bin/
**/obj/
**/artifacts/
**/_build_check*/

# Project / user-specific
**/Properties/
*.csproj.user

# Visual Studio
.vs/
