################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build output
**/bin/
**/obj/
**/artifacts/

# Project / user-specific
**/Properties/
*.csproj.user

# Visual Studio
.vs/
