Create Or ALTER   PROCEDURE [dbo].[usp_StudentList_Attendance_Mobile]
    @InstitutionId INT = NULL,
    @GradeId INT = NULL,
    @Section Varchar(25) = NULL,
    @AttendanceDate DATE = NULL,
    @CreatedBy INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ROW_NUMBER() OVER (ORDER BY s.EnrollmentDate DESC, s.FirstName, s.LastName) AS SrNo,
        s.StudentId,
        CONCAT(s.FirstName, ' ', s.LastName) AS StudentName,
        SF.FatherName,
        CONVERT(VARCHAR, s.EnrollmentDate, 103) AS EnrollmentDate,
        s.Age,
        g.GradeName,
        s.CurrentStatus,
        s.Id,
        IsNUll(sa.AttendanceStatus,1) As AttendanceStatus,
		SA.AttendanceDate
    FROM 
        Students s
    LEFT JOIN StudentFamilyDetails SF ON S.Id = SF.StudentId
    LEFT JOIN Grades g ON s.GradeId = g.Id
    LEFT JOIN Institutions i ON s.InstitutionId = i.Id
    Left Join StudentAttendances sa ON s.Id = sa.StudentId And sa.AttendanceDate = @AttendanceDate
    
		Where s.IsDeleted = 0
        AND (@InstitutionId IS NULL OR s.InstitutionId = @InstitutionId)
        AND (@GradeId IS NULL OR s.GradeId = @GradeId)
        AND (@Section IS NULL OR s.Section = @Section)
        AND (@CreatedBy = 0 OR s.CreatedBy = @CreatedBy)
    ORDER BY 
        s.EnrollmentDate DESC, s.FirstName, s.LastName;
END
