ALTER   PROCEDURE [dbo].[usp_IdentifyStudentGradeEntryAndExitLevel] -- usp_IdentifyStudentGradeEntryAndExitLevel 1024,1
    @StudentId INT,
    @CreatedBy INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- ================================================================
    -- PROCEDURE: usp_IdentifyStudentGradeEntryAndExitLevel
    -- PURPOSE: Determines student entry and exit steps based on Kadam status, grade name, and baseline scores
    -- LOGIC: 
    --   - If IsKadam = 1: Uses Grade Name and Score Range for step determination
    --   - If IsKadam = 0: Uses Age and Score Range for step determination (original logic)
    -- AUTHOR: System Generated
    -- DATE: Updated with Kadam-specific logic
    -- ================================================================
    
    -- Variable declarations
    DECLARE @Age INT,
            @TotalObtainedMarks INT,
            @GradeId INT,
            @GradeName VARCHAR(50),
            @IsKadam BIT,
            @EntryStepId INT,
            @ExitStepId INT,
            @EntryGradeLevel INT,
            @ExitGradeLevel INT;

    -- Get student basic information
    SELECT @Age = Age, @GradeId = GradeId
    FROM Students
    WHERE Id = @StudentId;

    -- Get grade name
    SELECT @GradeName = GradeName
    FROM Grades
    WHERE Id = @GradeId;

    -- Determine if student is in Kadam program
    -- Kadam classification logic for future use
    SET @IsKadam = CASE
        WHEN @GradeName LIKE '%1st%' OR @GradeName LIKE '%2nd%' OR @GradeName LIKE '%3rd%' OR @GradeName LIKE '%4th%' OR @GradeName LIKE '%5th%' THEN 1
        WHEN @GradeName LIKE '%Kadam STC%' THEN 0
        WHEN @GradeName LIKE '%Kadam+%' THEN 1
        ELSE 1
    END;

    -- Get total baseline assessment marks
    SELECT @TotalObtainedMarks = ISNULL(SUM(ObtainedMarks), 0)
    FROM StudentBaselineDetails
    WHERE StudentId = @StudentId 
      AND BaselineType = 'baselinepreAssessment';

    -- Ensure marks are within valid range (0-200)
    SET @TotalObtainedMarks = CASE 
        WHEN @TotalObtainedMarks < 0 THEN 0
        WHEN @TotalObtainedMarks > 200 THEN 200
        ELSE @TotalObtainedMarks
    END;

    -- ================================================================
    -- STEP DETERMINATION LOGIC
    -- Based on Age/Grade and Baseline Score criteria table
    -- ================================================================
    
    -- Create a score range identifier for cleaner logic
    DECLARE @ScoreRange INT = 
        CASE 
            WHEN @TotalObtainedMarks BETWEEN 0 AND 40 THEN 1
            WHEN @TotalObtainedMarks BETWEEN 41 AND 60 THEN 2
            WHEN @TotalObtainedMarks BETWEEN 61 AND 80 THEN 3
            WHEN @TotalObtainedMarks BETWEEN 81 AND 100 THEN 4
            WHEN @TotalObtainedMarks BETWEEN 101 AND 120 THEN 5
            WHEN @TotalObtainedMarks BETWEEN 121 AND 140 THEN 6
            WHEN @TotalObtainedMarks BETWEEN 141 AND 160 THEN 7
            WHEN @TotalObtainedMarks BETWEEN 161 AND 180 THEN 8
            WHEN @TotalObtainedMarks BETWEEN 181 AND 200 THEN 9
            ELSE 1 -- Default to lowest range
        END;

    -- Determine Entry and Exit Steps using conditional logic based on Kadam status
    SELECT 
        @EntryStepId = EntryStep,
        @ExitStepId = ExitStep
    FROM (
        SELECT 
            CASE 
                -- KADAM STUDENTS LOGIC (IsKadam = 1) - Based on Grade & Max Score limits
                WHEN @IsKadam = 1 THEN
                    CASE 
                        -- Kadam Grade 1 (1st) - Max Score: 40
                        WHEN @GradeName LIKE '%1st%' THEN
                            CASE 
                                WHEN @ScoreRange = 1 THEN 1  -- 0-40: Entry Step 1
                                ELSE 1
                            END
                        
                        -- Kadam Grade 2 (2nd) - Max Score: 80
                        WHEN @GradeName LIKE '%2nd%' THEN
                            CASE 
                                WHEN @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                                WHEN @ScoreRange = 3 THEN 3       -- 61-80: Entry Step 3
                                ELSE 1
                            END
                        
                        -- Kadam Grade 3 (3rd) - Max Score: 120
                        WHEN @GradeName LIKE '%3rd%' THEN
                            CASE 
                                WHEN @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                                WHEN @ScoreRange IN (3,4) THEN 3  -- 61-100: Entry Step 3
                                WHEN @ScoreRange = 5 THEN 5       -- 101-120: Entry Step 5
                                ELSE 1
                            END
                        
                        -- Kadam Grade 4 (4th) - Max Score: 160
                        WHEN @GradeName LIKE '%4th%' THEN
                            CASE 
                                WHEN @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                                WHEN @ScoreRange IN (3,4) THEN 3  -- 61-100: Entry Step 3
                                WHEN @ScoreRange IN (5,6) THEN 5  -- 101-140: Entry Step 5
                                WHEN @ScoreRange = 7 THEN 7       -- 141-160: Entry Step 7
                                ELSE 1
                            END
                        
                        -- Kadam Grade 5 (5th) - Max Score: 200
                        WHEN @GradeName LIKE '%5th%' THEN
                            CASE 
                                WHEN @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                                WHEN @ScoreRange IN (3,4) THEN 3  -- 61-100: Entry Step 3
                                WHEN @ScoreRange IN (5,6) THEN 5  -- 101-140: Entry Step 5
                                WHEN @ScoreRange IN (7,8) THEN 7  -- 141-180: Entry Step 7
                                WHEN @ScoreRange = 9 THEN 9       -- 181-200: Entry Step 9
                                ELSE 1
                            END
                        
                        -- Default Kadam case
                        ELSE 1
                    END
                
                -- NON-KADAM STUDENTS LOGIC (IsKadam = 0) - Based on Age/Grade & Baseline Score table
                ELSE
                    CASE 
                        -- Age 6 / Grade 1: Only 0-40 range defined
                        WHEN @Age = 6 AND @ScoreRange = 1 THEN 1  -- 0-40: Entry Step 1
                        
                        -- Age 7 / Grade 2: 0-60, 61-80 ranges
                        WHEN @Age = 7 AND @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                        WHEN @Age = 7 AND @ScoreRange = 3 THEN 3       -- 61-80: Entry Step 3
                        
                        -- Age 8 / Grade 3: 0-60, 61-100, 101-120 ranges
                        WHEN @Age = 8 AND @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                        WHEN @Age = 8 AND @ScoreRange IN (3,4) THEN 3  -- 61-100: Entry Step 3
                        WHEN @Age = 8 AND @ScoreRange = 5 THEN 5       -- 101-120: Entry Step 5
                        
                        -- Age 9 / Grade 4: 0-60, 61-100, 101-140, 141-160 ranges
                        WHEN @Age = 9 AND @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                        WHEN @Age = 9 AND @ScoreRange IN (3,4) THEN 3  -- 61-100: Entry Step 3
                        WHEN @Age = 9 AND @ScoreRange IN (5,6) THEN 5  -- 101-140: Entry Step 5
                        WHEN @Age = 9 AND @ScoreRange = 7 THEN 7       -- 141-160: Entry Step 7
                        
                        -- Age 10+ / Grade 5: 0-60, 61-100, 101-140, 141-180, 181-200 ranges
                        WHEN @Age >= 10 AND @ScoreRange IN (1,2) THEN 1  -- 0-60: Entry Step 1
                        WHEN @Age >= 10 AND @ScoreRange IN (3,4) THEN 3  -- 61-100: Entry Step 3
                        WHEN @Age >= 10 AND @ScoreRange IN (5,6) THEN 5  -- 101-140: Entry Step 5
                        WHEN @Age >= 10 AND @ScoreRange IN (7,8) THEN 7  -- 141-180: Entry Step 7
                        WHEN @Age >= 10 AND @ScoreRange = 9 THEN 9       -- 181-200: Entry Step 9
                        
                        -- Default case
                        ELSE 1
                    END
            END AS EntryStep,
            
            CASE 
                -- KADAM STUDENTS LOGIC (IsKadam = 1) - Exit Step based on Grade only
                WHEN @IsKadam = 1 THEN
                    CASE 
                        -- Kadam Grade 1 (1st) - Max Score: 40, Exit Step 2
                        WHEN @GradeName LIKE '%1st%' THEN 2
                        
                        -- Kadam Grade 2 (2nd) - Max Score: 80, Exit Step 4
                        WHEN @GradeName LIKE '%2nd%' THEN 4
                        
                        -- Kadam Grade 3 (3rd) - Max Score: 120, Exit Step 6
                        WHEN @GradeName LIKE '%3rd%' THEN 6
                        
                        -- Kadam Grade 4 (4th) - Max Score: 160, Exit Step 8
                        WHEN @GradeName LIKE '%4th%' THEN 8
                        
                        -- Kadam Grade 5 (5th) - Max Score: 200, Exit Step 10
                        WHEN @GradeName LIKE '%5th%' THEN 10
                        
                        -- Default Kadam case
                        ELSE 2
                    END
                
                -- NON-KADAM STUDENTS LOGIC (IsKadam = 0) - Exit Step based on Age/Grade only
                ELSE
                    CASE 
                        -- Age 6 / Grade 1: Exit Step 2 (regardless of score)
                        WHEN @Age = 6 THEN 2
                        
                        -- Age 7 / Grade 2: Exit Step 4 (regardless of score)
                        WHEN @Age = 7 THEN 4
                        
                        -- Age 8 / Grade 3: Exit Step 6 (regardless of score)
                        WHEN @Age = 8 THEN 6
                        
                        -- Age 9 / Grade 4: Exit Step 8 (regardless of score)
                        WHEN @Age = 9 THEN 8
                        
                        -- Age 10+ / Grade 5: Exit Step 10 (regardless of score)
                        WHEN @Age >= 10 THEN 10
                        
                        -- Default case
                        ELSE 2
                    END
            END AS ExitStep
    ) AS StepCalculation;
    
    -- ================================================================
    -- GRADE LEVEL CALCULATION
    -- Calculate grade levels based on step ranges (Steps 1-2=Grade1, 3-4=Grade2, etc.)
    -- ================================================================
    
    SELECT 
        @EntryGradeLevel = (@EntryStepId + 1) / 2,    -- Formula: (Step + 1) / 2
        @ExitGradeLevel = (@ExitStepId + 1) / 2;      -- More efficient than CASE statements

    -- Ensure grade levels are within valid range (1-5)
    SET @EntryGradeLevel = CASE 
        WHEN @EntryGradeLevel < 1 THEN 1 
        WHEN @EntryGradeLevel > 5 THEN 5 
        ELSE @EntryGradeLevel 
    END;
    
    SET @ExitGradeLevel = CASE 
        WHEN @ExitGradeLevel < 1 THEN 1 
        WHEN @ExitGradeLevel > 5 THEN 5 
        ELSE @ExitGradeLevel 
    END;

    -- ================================================================
    -- DATABASE OPERATION
    -- Insert or Update student grade start and end details
    -- ================================================================
    
    -- Use MERGE for more efficient INSERT/UPDATE operation
    MERGE StudentGradeStartAndEndDetails AS target
    USING (
        SELECT 
            @StudentId AS StudentId,
            @EntryGradeLevel AS GradeEntryLevelId,
            @ExitGradeLevel AS GradeExitLevelId,
            @EntryStepId AS EntryStepId,
            @ExitStepId AS ExitStepId,
            @CreatedBy AS CreatedBy,
            GETDATE() AS DateCreated
    ) AS source ON target.StudentId = source.StudentId
    
    WHEN MATCHED THEN
        UPDATE SET 
            GradeEntryLevelId = source.GradeEntryLevelId,
            GradeExitLevelId = source.GradeExitLevelId,
            EntryStepId = source.EntryStepId,
            ExitStepId = source.ExitStepId,
            ModifyBy = source.CreatedBy,
            ModifyDate = source.DateCreated
    
    WHEN NOT MATCHED THEN
        INSERT (StudentId, GradeEntryLevelId, GradeExitLevelId, EntryStepId, ExitStepId, CreatedBy, DateCreated)
        VALUES (source.StudentId, source.GradeEntryLevelId, source.GradeExitLevelId, 
                source.EntryStepId, source.ExitStepId, source.CreatedBy, source.DateCreated);

    -- ================================================================
    -- RETURN RESULT (Optional: for debugging/verification)
    -- ================================================================
    
    --SELECT 
    --    @StudentId AS StudentId,
    --    @Age AS Age,
    --    @TotalObtainedMarks AS BaselineMarks,
    --    @ScoreRange AS ScoreRangeId,
    --    @EntryStepId AS EntryStepId,
    --    @ExitStepId AS ExitStepId,
    --    @EntryGradeLevel AS EntryGradeLevel,
    --    @ExitGradeLevel AS ExitGradeLevel,
    --    'Success' AS Status;

END